@import './utils/variables';
@import './utils/placeholders';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/normalize';
@import './base/base';
@import './base/reset';
@import './base/card-set';
@import './base/animations';

@import './components/section';
@import './components/container';
@import './components/typograghy';
@import './components/btn';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/modal-window';
@import './components/_features';
@import './components/_work';
@import './components/_team';
@import './components/social_networks';
@import './components/clients';
@import './components/footer';
@import './components/btn-portfolio';
@import './components/projects';
@import './components/projects-overlay';
