.portfolio-btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  padding: 6px 22px;
  border: 0;
  transition: color $anim, background-color $anim, box-shadow $anim;

  &:hover,
  &:focus {
    color: $secondary-text-color;
    background-color: $a—Åcent-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
