.features-list {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.features-list__item {
  // width: 270px;
}
.features-list__title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-text-color;

  margin-top: 0;
  margin-bottom: 10px;
}

.features-list__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $paragraf-text-color;
  margin: 0;
}

.features-list__icon-bg {
  display: flex;
  // width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
