.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 16px 0;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
}

.header-nav__list {
  display: none;

  @media screen and (min-width: 768px) {
   
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  margin-left: 93px;
  gap: 50px;
  }
}

.header-nav__link {
  position: relative;
  padding: 32px 0;

  &::after {
    content: '';
    display: block;
    width: 108%;
    height: 4px;
    border-radius: 2px;
    background-color: $aсcent-text-color;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transform: translateX(-50%) scaleX(0.3);
    opacity: 0;
    @include transition(opacity, scaleX, transform);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }

  &--current {
    color: $aсcent-text-color;

    &::after {
      content: '';
      display: block;
      width: 108%;
      height: 4px;
      border-radius: 2px;
      background-color: $aсcent-text-color;
      position: absolute;
      left: 50%;
      bottom: -2%;
      transform: translateX(-50%) scaleX(1);
      opacity: 1;
      @include transition(transform, opacity);
    }
  }
}

.header-contacts__list {
  display: none;
  margin-left: auto;
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    }
}


.header-contacts__link {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $paragraf-text-color;
    font-weight: 500;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    gap: 10px;
  }
  
 }

.header-contacts__icon {
  fill: currentColor;

}
