.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.header__logo {
  padding: 25px 0;
}

.header-nav__list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  margin-left: 93px;
  gap: 50px;
}

.header-nav__link {
  position: relative;
  padding: 32px 0;

  &::after {
    content: '';
    display: block;
    width: 108%;
    height: 4px;
    border-radius: 2px;
    background-color: $aсcent-text-color;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transform: translateX(-50%) scaleX(0.3);
    opacity: 0;
    @include transition(opacity, scaleX, transform);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
  }

  &--current {
    color: $aсcent-text-color;

    &::after {
      content: '';
      display: block;
      width: 108%;
      height: 4px;
      border-radius: 2px;
      background-color: $aсcent-text-color;
      position: absolute;
      left: 50%;
      bottom: -2%;
      transform: translateX(-50%) scaleX(1);
      opacity: 1;
      @include transition(transform, opacity);
    }
  }
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  gap: 10px;
  color: $paragraf-text-color;
  font-weight: 500;
}

.header-contacts__icon {
  fill: currentColor;
}
