.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  @include transition(opacity, visibility);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: $secondary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @include transition(transform, opacity);
  padding: 40px;
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 12px;
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal__icon-close {
  fill: #000000;
  @include transition(fill);
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
  fill: $aсcent-text-color;
}

.modal-form__group {
  margin-bottom: 20px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: $paragraf-text-color;
  margin-bottom: 4px;
}

.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 42px;
  padding-left: 42px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  @include transition(outline);
}

.modal-form__field:focus {
  outline: 1px solid $aсcent-text-color;
}

.modal-form__field:not(:placeholder-shown):required:valid {
  outline: 1px solid green;
}
.modal-form__field:not(:placeholder-shown):required:invalid {
  outline: 1px solid red;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  @include transition(fill);
}

.modal-form__field:focus + .modal-form__icon {
  fill: $aсcent-text-color;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  @include transition(outline);
}

.modal-form__message:focus {
  outline: 1px solid $aсcent-text-color;
}

.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal-form__agreement-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $paragraf-text-color;
  user-select: none;
  cursor: pointer;
}

.modal-form__agreement-link {
  color: $aсcent-text-color;
  text-underline-offset: 3px;
}

.modal-form__checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  outline-offset: -2px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  @include transition(
    outline-color,
    background-color,
    background-size,
    border-color
  );
}

.modal-form__checkbox:hover,
.modal-form__checkbox:focus {
  border-color: $aсcent-text-color;
  cursor: pointer;
}

.modal-form__checkbox:checked {
  border-color: $aсcent-text-color;
  background-color: $aсcent-text-color;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 11px 8px;
}
