.project__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;

  margin-top: 0;
  margin-bottom: 4px;
}
.project__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $paragraf-text-color;

  margin: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__link {
  position: relative;
  overflow: hidden;
  transition: box-shadow $anim;
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card-set-box {
  position: relative;
  overflow: hidden;
}
