.section--work {
  display: none;
  @extend %section;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: inline;
  }
}

// .work-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: $indent;
// }

.work-list__item {
  position: relative;
}

.work-list__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  padding: 27px 10px;
}
