h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
  transition: color $anim;
}

.link:hover,
.link:focus {
  color: $a—Åcent-text-color;
}
