// Fonts
$font-primary: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
$font-logo: 'Raleway', 'Verdana', 'Tahoma', sans-serif;

//   Text color
$primary-text-color: #212121;
$secondary-text-color: #ffffff;
$paragraf-text-color: #757575;
$aсcent-text-color: #2196f3;

//   Картки-картинки
$indent: 30px; // відстань між картинками
$items: 3; //кількість картинок в рядку

//   Animation
$anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$anim-time: 250ms;
$anim-type: cubic-bezier(0.4, 0, 0.2, 1);
